body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:hsl(300, 80%, 8%);
    color: rgb(224, 133, 28);
    font-family: fantasy;
}